# Зависимости
node_modules/

# Папка со сборкой
dist/

# Упакованный VSIX файл
*.vsix

# Папка для локального тестирования
testComp/

# Логи и временные файлы
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Настройки редактора
.vscode/
