// Template for React component file

import { FC } from 'react';
${styleImportBlock}
interface Props {}

export const ${componentName}: FC<Props> = () => {
  return (
    <div${classNameProp}>
      ${componentName}
    </div>
  );
};
