// Template for React component file

import { FC } from 'react';

import styles from './${fileName}.module.${styleExtension}';

interface Props {}

export const ${componentName}: FC<Props> = () => {
  return (
    <div className={styles.${className}}>
      ${componentName}
    </div>
  );
};
